DOCTYPE
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Blog post
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name='description' content='The HTML5 Herald')
        meta(name='author' content='Ivaylo Nikolov')
        link(rel="stylesheet" href="css/all.css")
        link(href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito')
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/blog.css")
        link(rel="stylesheet" href="css/header.css")    
        link(rel='stylesheet' href='css/all.css')

    body
        
            #logo pickgiftfor.com
            header
                nav#menu
                        div.menu-item
                            a HOME
                        div.menu-item
                            a FAQ
                        div.menu-item.active.selected
                            a BLOG
                        div.menu-item
                            a CONTACTS
            .clear
            #wrap
                hr.intro
                article
                    h1 10 Gifts for #{slurp}
                    
                    img#header(src="images/blog-image.png" width="100%")
                    .credit Photo Credit: LA Snapshots
                    div#intro
                        | 
                        hr.dotted.intro      

                        .gift.absolute
                            p.description Every product is independently selected by (obsessive) editors. Things you buy through our links may earn us a commission.
                            img.round(src="images/6_BEFORW-2019-Winter-Women-Pant-Thick-Lambskin-Cashmere-Pants-Warm-Female-Casual-Pants-Loose-Harlan-Pants_grande.png" width="150px")
                            .gift-price NOW $29
                            .gift-title DEAL OF THE DAY

                    .gift.floated
                        img(src="https://dummyimage.com/300x300.jpg", alt="glow")
                        .floated-text
                            .gift-title 5. Lorem ipsum
                            .gift-price $ 4.00
                            p.description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam minima cum et sequi, voluptatem labore iure, voluptatum qui at possimus voluptate repudiandae enim, consequuntur pariatur perferendis veniam ipsam nihil sapiente!
                            button $ 1,00 AT Amazon
                            .clear
                        hr.dotted.intro

                    .gift.no-float
                        img(src="https://dummyimage.com/300x300.jpg", alt="glow")
                        .gift-title 4. Gift name
                        .gift-price $ 5.00
                        p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto sequi tempora inventore. Facere molestias fuga, quisquam quas perspiciatis ducimus dignissimos iure eligendi doloremque dolores odio, voluptatem soluta, ex vero.
                        button $10 AT AMAZON
                        .clear
                        hr.dotted.intro

                        
                    .gift.no-float
                        img(src="https://dummyimage.com/300x300.jpg", alt="glow")
                        .gift-title 4. Gift name
                        .gift-price $ 5.00
                        p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto sequi tempora inventore. Facere molestias fuga, quisquam quas perspiciatis ducimus dignissimos iure eligendi doloremque dolores odio, voluptatem soluta, ex vero.
                        button $10 AT AMAZON
                        .clear
                        hr.dotted.intro

                    .gift.no-float
                        img(src="https://dummyimage.com/300x300.jpg", alt="glow")
                        .gift-title 4. Gift name
                        .gift-price $ 5.00
                        p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto sequi tempora inventore. Facere molestias fuga, quisquam quas perspiciatis ducimus dignissimos iure eligendi doloremque dolores odio, voluptatem soluta, ex vero.
                        button $10 AT AMAZON
                        .clear
                        hr.dotted.intro

                    .gift.no-float
                        img(src="https://dummyimage.com/300x300.jpg", alt="glow")
                        .gift-title 4. Gift name
                        .gift-price $ 5.00
                        p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto sequi tempora inventore. Facere molestias fuga, quisquam quas perspiciatis ducimus dignissimos iure eligendi doloremque dolores odio, voluptatem soluta, ex vero.
                        button $10 AT AMAZON
                        .clear
                        hr.dotted.intro